body {
    background-color: rgb(248, 244, 228);
}

#navbar {
    background-color: rgb(248, 244, 228);
}
.smallest-breakpoint {
    height: 20px;
}

.mini-breakpoint{
    height: 50px;
}
.breakpoint {
    height: 125px;
}