body {
    /* background-color: rgb(248, 244, 228); */
    background-color: #FDF9EB;
    font-family: 'Open Sans', sans-serif;
}

#navbar {
    /* background-color: rgb(248, 244, 228); */
    background-color: #FDF9EB;

}
.smallest-breakpoint {
    height: 20px;
}

.mini-breakpoint{
    height: 50px;
}
.breakpoint {
    height: 125px;
}

#name{
    font-family: 'IM Fell French Canon', serif;
    font-size: 2rem
}
/* figure{
    border: 1px solid black;
} */

/* footer {
    background-color: rgb(248, 244, 228);
} */